@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "variables";
@import "mixins";

* {
    font-family: "Poppins", sans-serif;
    outline: none;
}

body {
    width: 80%;
    margin: 0 auto;
    border: 1px solid $gray;
}

header {
    text-align: center;
    border-bottom: 1px solid;
}

form {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.fields {
    width: 300px;
    height: 48px;
    margin: 10px;
    position: relative;

    label {
        position: absolute;
        top: 50%;
        left: 15px;
        font-size: 16px;
        transform: translateY(-50%);
        transition: all 0.8s ease;
        background: white;
        color: black;
    }

    input {
        @include inputs;
    }

    input:focus + label,
    input:valid + label {
        font-size: 12px;
        top: 0;
        padding: 5px;
    }

    select {
        @include inputs;
    }
    
    select:focus + label,
    select:valid + label {
        font-size: 12px;
        top: 0;
        padding: 5px;
    }
}
